<app-header></app-header>
<div class="container">
    <div class="confimation-container">
        <h1>Xác nhận đơn hàng</h1>
        <p>Cảm ơn bạn đã đặt hàng! Dưới đây là thông tin chi tiết về đơn hàng của bạn</p>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Tổng giá</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-intro">
                            <img src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/431328514_2288090298056695_4684969072452636875_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF91IIPobxz9tXLm2KGJnIjZf9hhhRGZ8Bl_2GGFEZnwBascE44ZqoXVWPpYHENb99yT5jh9GY1ZSAAktU3Qh9d&_nc_ohc=hxKMSRuPGJ0AX9tMLJg&_nc_ht=scontent.fsgn5-15.fna&oh=00_AfAgFROzGpilB5MOiVU8dDcIJRCnKSTB_6MZp7Ij_zeXeg&oe=65F01AE8"
                                alt="Product Image" class="product-image">
                            <span class="product-name">Tên sản phẩm</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100,000 đ</td>
                    <td>200,000 đ</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-intro">
                            <img src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/431328514_2288090298056695_4684969072452636875_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF91IIPobxz9tXLm2KGJnIjZf9hhhRGZ8Bl_2GGFEZnwBascE44ZqoXVWPpYHENb99yT5jh9GY1ZSAAktU3Qh9d&_nc_ohc=hxKMSRuPGJ0AX9tMLJg&_nc_ht=scontent.fsgn5-15.fna&oh=00_AfAgFROzGpilB5MOiVU8dDcIJRCnKSTB_6MZp7Ij_zeXeg&oe=65F01AE8"
                                alt="Product Image" class="product-image">
                            <span class="product-name">Tên sản phẩm</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100,000 đ</td>
                    <td>200,000 đ</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-intro">
                            <img src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/431328514_2288090298056695_4684969072452636875_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF91IIPobxz9tXLm2KGJnIjZf9hhhRGZ8Bl_2GGFEZnwBascE44ZqoXVWPpYHENb99yT5jh9GY1ZSAAktU3Qh9d&_nc_ohc=hxKMSRuPGJ0AX9tMLJg&_nc_ht=scontent.fsgn5-15.fna&oh=00_AfAgFROzGpilB5MOiVU8dDcIJRCnKSTB_6MZp7Ij_zeXeg&oe=65F01AE8"
                                alt="Product Image" class="product-image">
                            <span class="product-name">Tên sản phẩm</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100,000 đ</td>
                    <td>200,000 đ</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-3">
            <button class="btn btn-gradient" type="button">Tiếp tục mua sắm</button>
        </div>
    </div>
</div>
<app-footer></app-footer>